<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2013 Qualcomm Technologies, Inc.  All Rights Reserved.
     Qualcomm Technologies Proprietary and Confidential.

     Not a Contribution, Apache license notifications and license are retained
     for attribution purposes only.

     Copyright (C) 2007 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dean.areasearch"
    android:versionCode="202"
    android:versionName="2.0.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name" >
        <provider
            android:name=".CustomAreaCodeProvider"
            android:authorities="customareasearch" />
        <provider
            android:name=".NativeProvider"
            android:authorities="nativeareasearch" />
        <provider
            android:name=".ExternalProvider"
            android:authorities="externalareasearch" />

        <activity
            android:name=".EditAreaCode"
            android:label="EditAreaCode"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:windowSoftInputMode="adjustUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AreaSearchFirstPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/help_acti_title"
            android:theme="@android:style/Theme.Dialog" />

        <receiver android:name="BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
