body                { font-family: Verdana, Arial, Helvetica;}
H1                  { page-break-before: always}
H2                  { page-break-before: always}

table.tlv           { width:100%; border-width: 3; border-style: solid; border-color: #99ccff; border-collapse: collapse; font-size: 10pt;}

table.tlv tr.head   { background: #99ccff; }
table.tlv tr.row_0  { border-style: none; background: #ffffff; }
table.tlv tr.row_1  { border-style: none; background: #ccffff; }

table.tlv th        { text-align: center; font-weight: bold; border-width: 3; border-style: solid; border-color: #99ccff; border-collapse: collapse; font-size: 10pt;}
table.tlv td        { text-align: center;                    border-width: 3; border-style: solid; border-color: #99ccff; border-collapse: collapse; font-size: 10pt;}
table.tlv td.l      { text-align: left;                       border-width: 3; border-style: solid; border-color: #99ccff; border-collapse: collapse; font-size: 10pt;}

table.sep           { width:100%; border-width: 1; border-style: solid; border-color: #99ccff; border-spacing: 0px 0px;}
