<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2015 Qualcomm Technologies, Inc. All Rights Reserved.
Qualcomm Technologies Proprietary and Confidential.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.contacts.overlay.TelefonicaSpain">
    <overlay android:targetPackage="com.android.contacts" android:priority="1100"/>
</manifest>
