Source: remotefs
Priority: extra
Maintainer: "CDMATech Support" <support@cdmatech.com>
Build-Depends: debhelper (>= 7), autoconf, automake
Standards-Version: 3.8.1
Section: unknown

Package: remotefs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Remote storage
