<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.qualcomm.shutdownlistner"
   >

   <uses-permission android:name="com.qualcomm.permission.USE_QCRIL_MSG_TUNNEL" />

   <application>
      <uses-library
         android:name="com.qualcomm.qcrilhook">
      </uses-library>
      <receiver android:name=".ShutdownBroadcastReceiver"
         android:enabled="true"
         android:exported="false"
         android:label="ShutdownBroadcastReceiver">
         <intent-filter>
            <action android:name="android.intent.action.ACTION_SHUTDOWN" />
         </intent-filter>
      </receiver>
   </application>
</manifest>
