<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (c) 2013 Qualcomm Technologies, Inc. All rights reserved.
 * Qualcomm Technologies Proprietary and Confidential.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cmcc.custom"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:label="@string/app_name" >
        <receiver android:name="com.android.cmcc.custom.CmccBootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
