<?xml version="1.0" encoding="utf-8"?>
<!-- /************************** Copyright (C) 2013 Qualcomm Technologies, Inc. All Rights Reserved. Qualcomm Technologies Proprietary and Confidential. *****************************/ -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.interfacepermissions" android:versionCode="1"
    android:versionName="1.0">
    <permission android:description="@string/desc1" android:icon="@drawable/icon"
        android:label="@string/label" android:name="com.qualcomm.permission.INTERFACE_DIAG"
        android:protectionLevel="signature" />
<permission android:description="@string/desc2" android:icon="@drawable/icon"
        android:label="@string/label" android:name="com.qualcomm.permission.INTERFACE_RADIO"
        android:protectionLevel="signature" />
<permission android:description="@string/desc2" android:icon="@drawable/icon"
        android:label="@string/label" android:name="com.qualcomm.permission.INTERFACE_NETRAW"
        android:protectionLevel="signature" />
</manifest>
