<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (c) 2013 Qualcomm Technologies, Inc.  All Rights Reserved.
     Qualcomm Technologies Proprietary and Confidential.

     Not a Contribution, Apache license notifications and license are retained
     for attribution purposes only.

     Copyright (C) 2007 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dm" >

    <original-package android:name="com.android.dm" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_DM_REGISTER_SMS" />
    <uses-permission android:name="android.permission.BROADCAST_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.pushmail.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />

    <permission
        android:name="android.permission.ACCESS_DM_SERVICE"
        android:permissionGroup="android.permission-group.DM"
        android:protectionLevel="signatureOrSystem"
        android:label="dm permission control" />

    <uses-permission android:name="android.permission.ACCESS_DM_SERVICE" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".DmDebugMenu"
            android:label="@string/debug_menu" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DmAlertDialog"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="com.android.dm.DmAlertDialog" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DmEditItem"
            android:label="@string/debug_menu" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".DmReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.sms_init_complete" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.dm.StartDmDebugMenu" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DM_REGISTER_SMS_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data android:scheme="sms" />
                <data android:host="localhost" />
                <data android:port="16998" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />

                <data android:mimeType="application/vnd.syncml.dm+wbxml" />
                <data android:mimeType="application/vnd.syncml.dm+xml" />
                <data android:mimeType="application/vnd.syncml.notification" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mms.transaction.MESSAGE_SENT_DM" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mms.transaction.MESSAGE_DELIVER_DM" />
            </intent-filter>
            <!-- start the DM, *#*#3636#*#* -->
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:host="3636" android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DmService"
            android:enabled="true"
            android:permission="android.permission.ACCESS_DM_SERVICE" >
            <intent-filter>
                <action android:name="com.android.dm.SelfReg" />
                <action android:name="com.android.dm.NIA" />
            </intent-filter>
        </service>
    </application>

</manifest>
