<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.MultiplePdpTest"
      >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />

    <application android:icon="@drawable/qcom" android:label="@string/app_name" android:debuggable="true">

        <activity android:name=".ServiceTypeListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ServiceTypeInformer"
            android:label="@string/settings_detail_name">
            <intent-filter>
                <action android:name="com.android.MultiplePdpTest.SELECTED_SERVICE_ACTIVITY" ></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name =".ListApns"
            android:label="@string/list_apn_name">
            <intent-filter>
                <action android:name="com.android.MultiplePdpTest.LIST_APNS"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
