<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (c) 2013 Qualcomm Technologies, Inc.  All Rights Reserved.
     Qualcomm Technologies Proprietary and Confidential.

     Not a Contribution, Apache license notifications and license are retained
     for attribution purposes only.

     Copyright (C) 2007 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.backup" >

    <original-package android:name="com.android.backup" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />

    <application
        android:icon="@drawable/default_icon"
        android:label="@string/main_backup_label" >
        <activity
            android:name=".MainBackUpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/BackupTheme"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BackupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="@string/backup_label"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.BACKUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EXPORT_VCALENDAR" />

                <data android:mimeType="text/x-vCalendar" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecoverActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="@string/restore_data_label"
            android:parentActivityName="com.android.backup.RestoreActivity"
            android:screenOrientation="nosensor"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.RECOVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.backup.RestoreActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".RecoverOperateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:parentActivityName="com.android.backup.RecoverActivity"
            android:screenOrientation="nosensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.backup.RecoverActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RESTORE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OldRecoverOperateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="@string/restore_operate_label"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.RESTORE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestoreActivity"
            android:exported="true"
            android:label="@string/restore_label"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.BACKUPRESTORE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecoverAppActivity"
            android:exported="true"
            android:label="@string/restore_app_label"
            android:parentActivityName="com.android.backup.RestoreActivity"
            android:screenOrientation="nosensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.backup.RestoreActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="com.android.backup.MainBackUpActivity"
            android:screenOrientation="nosensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.backup.SettingsActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/settings_help"
            android:parentActivityName="com.android.backup.SettingsActivity"
            android:screenOrientation="nosensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.backup.HelpActivity" />
        </activity>
        <service
            android:name=".BackupService"
            android:process="com.android.backup.service"></service>
    </application>

</manifest>
