<?xml version="1.0" encoding="utf-8"?>
<!---/******************************************************************************
* @file    AndroidManifest.xml
*  Coppyright (C) 2012 Qualcomm Technologies, Inc.
*  All Rights Reserved. Qualcomm Technologies Proprietary and Confidential.
*  *****************************************************************************-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.qualcomm.atuner">

   <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
   <uses-permission android:name="com.qualcomm.permission.USE_QCRIL_MSG_TUNNEL" />

   <application>
      <uses-library
         android:name="com.qualcomm.qcrilhook"></uses-library>
      <receiver android:name=".ATunerAutoboot"
         android:enabled="true"
         android:exported="false"
         android:label="ATunerAutoboot">
         <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
         </intent-filter>
      </receiver>

      <service android:name="ATunerService"></service>

   </application>
</manifest>
