Source: fm
Priority: extra
Maintainer: "CDMATech Support" <support@cdmatech.com>
Build-Depends: debhelper (>= 7), autoconf, automake, sanitized-linux-headers
Standards-Version: 3.8.1
Section: unknown

Package: fm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FM
