<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2014, Qualcomm Technologies, Inc. All Rights Reserved.
     Qualcomm Technologies Proprietary and Confidential.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.qti.carrierconfigure"
    android:sharedUserId="android.uid.system" >

    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.RECOVERY" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="com.qualcomm.permission.USE_QCRIL_MSG_TUNNEL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-premission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-sdk android:minSdkVersion="14" />

    <application android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">

        <uses-library
            android:name="com.qualcomm.qcrilhook"
            android:required="true"/>

        <activity android:name="ConfigurationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- This service used to update the SIM mode, and it need edit the radio prop.
             So set this service's process as phone.
         -->
        <service android:name="Actions$UpdateSimMode"
            android:exported="false"
            android:process="com.android.phone" />

        <!-- This service used to regist StartActivityReceiver -->
        <service android:name="StartActivityReceiver$RegistTriggerService"
            android:exported="false" />

        <!-- This service is used to install package in special conditions -->
        <service android:name="StartActivityReceiver$TriggerSpecialInstallService"
            android:exported="false" />

        <receiver android:name="StartActivityReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <!-- start the switch activity, *#*#CarrierCfg#*#* -->
                <data android:host="2277437234" android:scheme="android_secret_code" />
                <data android:host="73446625234" android:scheme="android_secret_code" />
            </intent-filter>
            <intent-filter>
                <!--<action android:name="com.qualcomm.qti.carrierconfigure.trigger" />-->
                <action android:name="com.android.phone.ACTION_PHONE_READY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
