<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2011,2013, Qualcomm Technologies, Inc.
  All Rights Reserved.
  Qualcomm Technologies Proprietary and Confidential.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.qworldclock"
      android:versionCode="1"
      android:versionName="1.0"
      >
    <application android:icon="@drawable/icon" android:label="@string/app_name"
                 android:supportsRtl="true">
        <activity android:name=".QWorldClock"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimeZoneList"
            android:configChanges="orientation|screenSize"
            android:label="@string/timezone_header"
            android:screenOrientation="portrait" >
        </activity>
    </application>
</manifest>
