<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2014 Qualcomm Technologies, Inc. All Rights Reserved.
  Qualcomm Technologies Proprietary and Confidential.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.qti.gesture"
    android:sharedUserId="android.uid.system" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".GestureApp"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/Theme.Settings" >
        <activity
            android:name=".GestureSettings"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:taskAffinity="com.android.settings" >
            <intent-filter>
                <action android:name="qualcomm.intent.action.GESTURE_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GestureEditActivity"
            android:label="@string/title_gesture_customize"
            android:screenOrientation="nosensor"
            android:taskAffinity="com.android.settings"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".GestureSetting"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:taskAffinity="com.android.settings"
            android:uiOptions="splitActionBarWhenNarrow" />

        <receiver android:name=".PackageChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />

                <data android:scheme="package" >
                </data>
            </intent-filter>
        </receiver>
    </application>

</manifest>