<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (c) 2014, Qualcomm Technologies, Inc. All Rights Reserved.
 * Qualcomm Technologies Proprietary and Confidential.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.providers.settings.overlay.cu">
    <overlay android:targetPackage="com.android.providers.settings" android:priority="1000"/>
</manifest>
