<?xml version="1.0" encoding="utf-8"?>
<!---
 *
 * Copyright (c) 2014 Qualcomm Technologies, Inc.  All Rights Reserved.
 * Qualcomm Technologies Proprietary and Confidential.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.qti.ims.tests">

    <application>
        <uses-library android:name="android.test.runner" />
        <activity android:label="ImsTests"
                android:name="ImsTests">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="org.codeaurora.ims"
        android:label="Ims Tests">
    </instrumentation>

</manifest>
