<?xml version="1.0" encoding="utf-8"?>
<!-- /************************** Copyright (C) 2012 Qualcomm Technologies, Inc. All Rights Reserved. Qualcomm Technologies Proprietary and Confidential. *****************************/ -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.qcom_qmi" android:versionCode="1"
    android:versionName="1.0">
    <permission android:description="@string/desc" android:icon="@drawable/qchat_logo"
        android:label="@string/label" android:name="com.qualcomm.permission.ACCESS_QCOM_QMI"
        android:protectionLevel="signature" />
</manifest>
