<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2013-2014, Qualcomm Technologies, Inc. All Rights Reserved.
     Qualcomm Technologies Proprietary and Confidential.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.qti.loadcarrier"
    android:sharedUserId="android.uid.phone">

    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM"/>

    <uses-sdk android:minSdkVersion="14" />

    <application android:label="@string/app_name">

        <activity android:name="EditTriggerValuesActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:exported="false"
            android:process="com.android.phone">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
            </intent-filter>
        </activity>

        <service android:name="LoadCarrierService">
            <intent-filter>
                <action android:name="com.qualcomm.qti.loadcarrier.ILoadCarrierService" />
            </intent-filter>
        </service>

        <service android:name="TriggerService"
            android:exported="false"
            android:process="com.android.phone" />

        <receiver android:name="TriggerActionReceiver"
            android:process="com.android.phone">
            <intent-filter>
                <action android:name="com.qualcomm.qti.loadcarrier.trigger" />
                <action android:name="com.android.phone.ACTION_PHONE_READY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <!-- Enable the trigger function, the string as "triggerY". -->
                <data android:host="87444379" android:scheme="android_secret_code" />
                <!-- Disable the trigger function, the string as "triggerN". -->
                <data android:host="87444376" android:scheme="android_secret_code" />
                <!-- Set trigger's brand & target value, the string as "triggerValue" -->
                <data android:host="874443782583" android:scheme="android_secret_code" />
                <!-- Start trigger, the string as "triggerStart" -->
                <data android:host="874443778278" android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
