<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (c) 2014, Qualcomm Technologies, Inc. All Rights Reserved.
     Qualcomm Technologies Proprietary and Confidential.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.timerswitch"
    android:sharedUserId="android.uid.system" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:label="@string/app_name"
        android:taskAffinity=""
        android:theme="@android:style/Theme.Material.Settings">
        <provider android:name=".provider.TimerSwitchProvider"
                  android:authorities="com.android.timerswitch"
                  android:exported="false" />

        <activity
            android:name=".TimerSwitchSettings"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="qualcomm.intent.action.TIMER_SWITCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       <activity
           android:name = ".ShutdownActivity"
           android:icon="@drawable/power"
           android:theme="@android:style/Theme.Material.Light.Dialog"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name = ".TimerSwitchReceiver">
            <intent-filter>
                <action android:name="com.qualcomm.action.REQUEST_POWER_OFF" />
                <action android:name="com.qualcomm.action.REQUEST_POWER_ON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name = ".TimerSwitchInitReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
