<?xml version="1.0" encoding="utf-8"?>
<!---/*************************************************************************
 Copyright (c) 2014 Qualcomm Technologies, Inc.  All Rights Reserved.
 Qualcomm Technologies Proprietary and Confidential.
*****************************************************************************-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    package="com.qualcomm.qti.services.secureui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.qualcomm.permission.wfd.QC_WFD"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:label="@string/app_name"
        android:process=":sui_service"
        android:persistent="true">
        <receiver android:name=".CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE_CHANGED">
                </action>
                <category android:name="android.intent.category.HOME">
                </category>
            </intent-filter>
        </receiver>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
                <category android:name="android.intent.category.HOME">
                </category>
            </intent-filter>
        </receiver>
        <receiver android:name=".PowerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN">
                </action>
                <category android:name="android.intent.category.HOME">
                </category>
            </intent-filter>
        </receiver>
        <service android:name=".SecureUIService"
                 android:exported="false">
        </service>
        <activity android:name=".OrientationActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:noHistory="true">
        </activity>

    </application>
</manifest>
